body{
  margin:0;
  font-family: Arial, sans-serif;
  background:#000;
  color:#fff;
  text-align:center;
}

header{
  padding:30px;
}

header h1{
  color:#00ff66;
  font-size:38px;
}

.card{
  background:#111;
  margin:20px;
  padding:25px;
  border-radius:15px;
  box-shadow:0 0 15px #00ff66;
}

.porco{
  width:180px;
  margin-bottom:15px;
}

.valor{
  font-size:32px;
  color:#00ff66;
  margin:10px 0;
}

.barra{
  background:#333;
  border-radius:20px;
  overflow:hidden;
  height:22px;
  margin:15px 0;
}

.progresso{
  background:#00ff66;
  height:100%;
  width:0%;
  transition:0.5s;
}

input{
  padding:10px;
  width:80%;
  border-radius:10px;
  border:none;
  margin-top:10px;
}

button{
  width:80%;
  padding:12px;
  margin-top:10px;
  background:#00ff66;
  color:#000;
  font-size:16px;
  border:none;
  border-radius:10px;
  font-weight:bold;
}

.comprar{
  background:gold;
  margin-top:20px;
}

.info{
  background:#111;
  margin:20px;
  padding:25px;
  border-radius:15px;
}

footer{
  padding:20px;
  color:#777;
}
