body{
 margin:0;
 background:#0b0b0b;
 color:white;
 font-family:Arial, Helvetica, sans-serif;
 display:flex;
 justify-content:center;
 align-items:center;
 min-height:100vh;
}

.container{
 width:90%;
 max-width:700px;
 text-align:center;
 padding:40px;
 background:#111;
 border-radius:20px;
 box-shadow:0 0 40px rgba(0,255,150,0.2);
}

h1{
 font-size:48px;
 margin-bottom:10px;
}

h2{
 font-size:26px;
 margin-top:30px;
}

#valor{
 font-size:56px;
 color:#00ff9d;
 font-weight:bold;
 margin:20px 0;
}

.barra-fundo{
 width:100%;
 height:35px;
 background:#333;
 border-radius:30px;
 overflow:hidden;
 margin-bottom:20px;
}

#barra{
 height:100%;
 width:0%;
 background:linear-gradient(90deg,#00ff9d,#00ffaa);
 transition:0.5s;
}

button{
 width:100%;
 padding:15px;
 border:none;
 border-radius:12px;
 background:#00ff9d;
 color:black;
 font-size:18px;
 cursor:pointer;
 margin-top:10px;
}

button:hover{
 transform:scale(1.05);
 box-shadow:0 0 20px #00ff9d;
}

p{
 font-size:18px;
 line-height:1.5;
}

ul li{
 font-size:20px;
 margin:8px 0;
}
