body{
 margin:0;
 background:#050505;
 color:white;
 font-family:Arial, Helvetica, sans-serif;
 display:flex;
 justify-content:center;
 align-items:center;
 min-height:100vh;
}

.container{
 width:95%;
 max-width:900px;
 text-align:center;
}

h1{
 font-size:64px;
 letter-spacing:2px;
 margin-bottom:20px;
 color:#00ff9d;
 text-shadow:0 0 30px #00ff9d;
}

.porco-area{
 position:relative;
 height:260px;
 margin-bottom:20px;
}

.porco{
 font-size:160px;
 animation:pulse 2s infinite;
}

.dinheiro{
 position:absolute;
 top:-40px;
 left:50%;
 font-size:30px;
 animation:fall 1.5s infinite;
}

#valor{
 font-size:70px;
 color:#00ff9d;
 font-weight:bold;
 text-shadow:0 0 25px #00ff9d;
 margin:20px 0;
}

.barra-fundo{
 width:100%;
 height:40px;
 background:#333;
 border-radius:40px;
 overflow:hidden;
 margin-bottom:20px;
}

#barra{
 height:100%;
 width:0%;
 background:linear-gradient(90deg,#00ff9d,#00ffaa);
 transition:0.6s;
}

@keyframes fall{
 0%{top:-40px;opacity:0;}
 50%{opacity:1;}
 100%{top:200px;opacity:0;}
}

@keyframes pulse{
 0%,100%{transform:scale(1);}
 50%{transform:scale(1.1);}
}

button{
 width:100%;
 padding:16px;
 border:none;
 border-radius:12px;
 background:#00ff9d;
 color:black;
 font-size:18px;
 cursor:pointer;
 margin-top:10px;
}

button:hover{
 transform:scale(1.05);
 box-shadow:0 0 25px #00ff9d;
}

p{
 font-size:20px;
}

ul li{
 font-size:20px;
 margin:6px 0;
}
