body{
background:black;
color:white;
font-family:Arial;
margin:0;
text-align:center;
}

header h1{
font-size:40px;
color:white;
}

header span{
color:#00ff66;
}

.porco{
width:200px;
margin:20px auto;
display:block;
}

#valor{
font-size:38px;
color:#00ff66;
margin:10px 0;
}

.barra{
width:80%;
height:20px;
background:#333;
border-radius:20px;
margin:10px auto;
overflow:hidden;
}

#progresso{
height:100%;
width:0%;
background:#00ff66;
}

.comprar{
background:gold;
padding:15px;
width:80%;
border:none;
border-radius:30px;
font-size:18px;
font-weight:bold;
}

.contador{
margin-top:20px;
}

.tempo span{
background:#111;
padding:10px 15px;
border-radius:8px;
font-size:18px;
}

.info{
margin:30px;
}

footer{
color:#777;
margin:30px;
}

/* ADMIN */

#adminBtn{
position:fixed;
bottom:15px;
right:15px;
background:#00ff66;
padding:10px;
border-radius:50%;
cursor:pointer;
}

.modal{
display:none;
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.8);
}

.modalBox{
background:#111;
padding:20px;
margin:150px auto;
width:80%;
max-width:300px;
border-radius:10px;
}
